<ion-view view-title="Add food">
<ion-nav-buttons side="left">
<button class="button button-clear" ng-click="close()"></button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
<button class="button button-icon ion-ios-upload" ng-click="confirm()"></button>
</ion-nav-buttons>
<ion-content>
    <div class="list list-inset">
<label class="item item-input itemfloating-label">
<span class="input-label">Name</span>
<input type="text" placeholder="Name"
ng-model="newfood.name">
</label>
<label class="item item-input itemfloating-label">
<span class="input-label">Last
Text</span>
<input type="text" placeholder="Last
Text" ng-model="newfood.lastText">
</label>
</div>

</ion-content>
</ion-view>